############################
# ROS2 / colcon build artifacts
############################

# Build products (anywhere in the tree)
build/
install/
log/

# Colcon metadata
colcon.meta

############################
# General CMake / build files
############################
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile

############################
# Editor / OS cruft
############################
*.swp
*.swo
*~
.DS_Store
.vscode/
.idea/


